---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Menu from "../components/Menu.astro";
import Gallery from "../components/Gallery.astro";
import FAQ from "../components/FAQ.astro";
import CallToAction from "../components/CallToAction.astro";
import Fireworks from "../components/Fireworks.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import AbbaModal from "../components/AbbaModal.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
---

<Layout>
  <main>
    <Fireworks />
    <ScrollToTop />
    <Hero />
    <Features />
    <Menu />
    <Gallery />
    <FAQ />
    <CallToAction />
    <AbbaModal />
  </main>
  <Footer />
</Layout>
